@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-code bg-cover bg-no-repeat bg-fixed text-gray-100;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}